############################
#                          #
#   Mac OS Configuration   #
#                          #
############################

{{- if eq .chezmoi.os "darwin" }}

#!/bin/sh

# Change Dock size
defaults write com.apple.dock tilesize -int 32; killall Dock

{{- end }}
