{{ if eq .chezmoi.os "darwin" -}}

#!/bin/sh

# [Dock] Change Dock size
defaults write com.apple.dock tilesize -int 38

# [Dock] Show indicators for open applications
defaults write com.apple.dock show-process-indicators -bool true

# [Dock] Hide recent applications
defaults write com.apple.dock show-recents -bool false

# [Dock] Reset dock for apply settings
killall Dock

# [Keyboard] Key Repeat
defaults write -g KeyRepeat -int 2

# [Keyboard] Initial Key Repeat
defaults write -g InitialKeyRepeat -int 10

# [Keyboard] Use F1,F2 as normal keys
defaults write -g com.apple.keyboard.fnState -bool true

# [Trackpad] Set tapping for imitate click
defaults write com.apple.driver.AppleBluetoothMultitouch.trackpad Clicking -bool true
defaults -currentHost write NSGlobalDomain com.apple.mouse.tapBehavior -int 1
defaults write NSGlobalDomain com.apple.mouse.tapBehavior -int 1

{{ end -}}
