{{ if eq .chezmoi.os "darwin" -}}

#!/bin/sh

# Install Homebrew if not installed
if test ! $(which brew); then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

# Taps
taps=(
    homebrew/cask-fonts
)

# Install Taps
brew tap "${taps[@]}"

# Packages
apps=(
    neovim
    ranger
    jq
    nvm
)

# Install Packages
brew install "${apps[@]}"

# Casks packages
casks=(
    firefox
    google-chrome
    iterm2
    visual-studio-code
    skype
    discord
    telegram
    sf-symbols
    font-jetbrains-mono-nerd-font
    notion
    phpstorm
    docker
    appcleaner
)

# Install Cask packages
brew install "${casks[@]}" --cask

# Check if user logged in AppStore (Mas)
if ! [mas account]; then
    echo "Not logged in"
fi

{{ end -}}
